.inputContainer{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;

    width: 300px;
    height: 60px;

  }
  .input{
    margin-top: 10px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 14px ;

  }
  .title-sign-up{
    text-align: center;
    margin-top: 19px;
  }
  .Btn-sign-up{
    margin-left: 160px; 
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-size: 16px ;
    margin-bottom: 10px;
  
  }
  .have-acc{
    display: flex;
    margin-left: 550px;
    margin-top: 30px;
    font-size: 18px ;
    margin-top: 0px;

  }
  .parag{
    margin-left: 5px;
    margin-top: 17px;
  }
  .label{
    
    font-size: 20px ;
  }
  
  #formee{
    
    margin-top: 30px;
  
    height: 420px;
    width: 400px;
    margin-left: 490px;

    border-radius: 10px;
    box-shadow: 5px  5px  10px  10px gainsboro;  
    flex-direction: column;
  }
 