

.grand-div{
    display: flex;
    box-shadow: 5px  5px  10px  10px gainsboro;  
    border-radius: 5px;

    margin-top: 30px;
    margin-bottom: 50px;
    height: 200px;
    width: 550px;
    margin-left: 40px;
}

.div-petit{
     margin-left: 55px;
}